@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

html{
    font-size: 62.5%;
}

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'DM sans';

}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    font-size: 1.3rem;
    padding: 1rem;
    background-color: #ffffff;
}
header h1{ color: rgb(0, 0, 0); padding: 1rem;}

main{
    flex: 1;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 4rem;
}

main .clock{
    width: 100%;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 16rem;
    font-weight: bold;
}


main .opcoes{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;

}
main .opcoes i{

    color: rgb(6, 155, 255);
    font-size: 15rem;
    cursor: pointer;

}
footer{
    width: 100%;
    height: 50px;
    background-color: #000000;

    padding: 4rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
footer .menu {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
footer .menu div{
    width: 160px;
    height: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;

    background-color: rgb(0, 0, 0);
    color: white;

    cursor: pointer;

}

footer .menu p{
    font-size: 1.6rem;
}

